@model IEnumerable<ProposalDTO>
@using iuca.Application.Enums

@{
    int num = 0;
}

<div class="container p-0">

    <div class="row pt-4 justify-content-between">
        <div class="col-auto">
            <h2>Proposals</h2>
            <span class="text-success">
                @TempData["ProposalSuccessMessage"]
            </span>
            <span class="text-danger">
                @TempData["ProposalErrorMessage"]
            </span>
            <span class="text-danger">
                @TempData["ProposalError"]
            </span>
        </div>
        <div class="col-auto">
            <a class="btn bg-blue text-white shadow-none" asp-action="Create" asp-route-searchSemesterId="@ViewBag.SemesterId">
                <i class="fas fa-plus"></i> Add new
            </a>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">

                        <form method="get" asp-action="Index">
                            <div class="col-lg-auto col-12">
                                <div class="row">
                                    <div class="col-lg-auto col-12">
                                        <select class="form-control shadow-none" name="searchSemesterId" asp-items="@ViewBag.Semesters" onchange="this.form.submit()">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <ul class="list-group list-group-flush">

                    @if (Model.Count() > 0)
                    {
                        @foreach (var proposal in Model)
                        {
                            num++;
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-5 col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <span class="text-gray">#@num</span> @proposal.Semester.SeasonYear
                                            </div>

                                            <div class="col-2">
                                                <strong>@proposal.Department.Code</strong>
                                            </div>

                                            <div class="col-4  text-gray">
                                                <em>
                                                    Total courses: @proposal.ProposalCourses.Count()
                                                </em>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-12 pt-lg-0 pt-3">
                                        <div class="row">
                                            <div class="col-lg-6 col-12 mt-lg-0 mt-2 text-right">
                                                <button type="button" class="btn btn-success shadow-none" name="submitProposalCoursesBtn" value="@proposal.Id">
                                                    <i class="fas fa-check"></i> Submit (<span class="countToSubmit">@proposal.ProposalCourses.Count(x => x.Status == (int)enu_ProposalCourseStatus.New || x.Status == (int)enu_ProposalCourseStatus.Rejected)</span>)
                                                </button>
                                                <button type="button" class="btn btn-danger shadow-none" name="returnProposalCoursesBtn" value="@proposal.Id">
                                                    <i class="fas fa-times"></i> Return (<span class="countToReturn">@proposal.ProposalCourses.Count(x => x.Status == (int)enu_ProposalCourseStatus.Pending)</span>)
                                                </button>
                                            </div>
                                            <div class="col-lg-6 col-12 mt-lg-0 mt-2 text-right">
                                                <a class="btn bg-blue text-white shadow-none" asp-action="Details" asp-route-id="@proposal.Id"
                                                   asp-route-searchSemesterId="@ViewBag.SemesterId">
                                                    <i class="fas fa-file-alt"></i> Details
                                                </a>
                                                <a class="btn bg-blue text-white shadow-none" asp-action="Edit" asp-route-id="@proposal.Id"
                                                   asp-route-searchSemesterId="@ViewBag.SemesterId">
                                                    <i class="fas fa-edit"></i> Edit
                                                </a>
                                                <button type="button" class="btn btn-danger shadow-none" name="deleteProposalBtn" value="@proposal.Id">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">
                            <p class="pt-3">No proposals</p>
                        </li>
                    }

                </ul>
            </div>

        </div>
    </div>

</div>

@section Scripts {

    <script src="~/js/proposals.js" asp-append-version="true"></script>

}