@model IEnumerable<LanguageDTO>

@{
    int num = 0;
}

<div class="container p3">
    <div class="row pt-4">
        <div class="col-12 p-0">
            <h3 class="text-uppercase">Languages</h3>
        </div>
    </div>
    <div class="row pt-4 text-right">
        <div class="col-12 p-0">
            <a asp-controller="Languages" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Add Language
            </a>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12 p-0">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>
                                Name Eng
                            </th>
                            <th>
                                Name Rus
                            </th>
                            <th>
                                Name Kir
                            </th>
                            <th>Code</th>
                            <th>Import Code</th>
                            <th>Sort num</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var language in Model)
                        {
                            num++;
                            <tr>
                                <td>@num</td>
                                <td>@language.NameEng</td>
                                <td>@language.NameRus</td>
                                <td>@language.NameKir</td>
                                <td>@language.Code</td>
                                <td>@language.ImportCode</td>
                                <td>@language.SortNum</td>
                                <td width="15%" class="text-center p-2">
                                    <div class="btn-group" role="group">
                                        <a asp-controller="Languages" asp-route-id="@language.Id"
                                           asp-action="Details" class="btn btn-primary mx-1" title="Details">
                                            <i class="fas fa-file-alt"></i>
                                        </a>
                                        <a asp-controller="Languages" asp-route-Id="@language.Id" asp-action="Edit" class="btn btn-primary mx-1">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a asp-controller="Languages" asp-route-Id="@language.Id" asp-action="Delete" class="btn btn-danger mx-1">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No language exists</p>
            }
        </div>
    </div>
</div>
