@using iuca.Application.Enums
@model List<SelectStudentViewModel>

@{
    int num = 0;
    bool onlyActive = (ViewBag.OnlyActive == null || ViewBag.OnlyActive);
}

<div class="container p3">
    <div class="row pt-4">
        <div class="col-12 p-0">
            <h3 class="text-uppercase">Student transcripts</h3>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12 p-0">
            <form method="get" asp-action="StudentTranscriptsForDean">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="form-group row">
                            <div class="col-3">
                                <label>Group:</label>
                            </div>
                            <div class="col-9">
                                <select class="form-control dropdown" name="departmentGroupId" asp-items="@ViewBag.DepartmentGroups">
                                    <option value="0">All</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3">
                                <label>Student ID:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" name="studentId" value="@ViewBag.StudentId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-group row">
                            <div class="col-3">
                                <label>Last name:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" name="lastName" value="@ViewBag.LastName" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-3">
                                <label>First name:</label>
                            </div>
                            <div class="col-9">
                                <input type="text" class="form-control" name="firstName" value="@ViewBag.FirstName" />
                            </div>

                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-6">
                        <div class="form-group row">
                            <div class="col-lg-3 col-6">
                            </div>
                            <div class="col-lg-9 col-6">
                                <label>
                                    <input type="checkbox" name="onlyActive" id="onlyActive" value="@(onlyActive ? "true" : "false")" 
                                        @(onlyActive ? "checked" : "") onchange="this.value = this.checked;"/>
                                    Only active
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <button type="submit" class="btn btn-primary">
                            <i class="fab fa-sistrix"></i> &nbsp; Filter
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div class="row pt-2">
        <div class="col-12 p-0">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Student name</th>
                        <th>Student ID</th>
                        <th>State</th>
                        <th>Group</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        num++;
                        <tr>
                            <td>@num</td>
                            <td>@student.FullNameEng</td>
                            <td>@student.StudentId</td>
                            <td><span class="@(student.State != enu_StudentState.Active ? "text-danger" : "")">@student.State</span></td>
                            <td>@student.Group</td>
                            <td class="text-right">
                                <a asp-controller="StudentTranscripts" asp-route-studentUserId="@student.StudentUserId"
                                    asp-action="GetStudentTranscriptForDean" class="btn btn-primary mx-1" target="_blank">
                                    <i class="fas fa-list-ol"></i> &nbsp; Transcript
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
