@using iuca.Application.DTO.Slots;
@using iuca.Application.Enums;
@model IEnumerable<IGrouping<string, SlotDTO>>

<style>
    .course-info:hover {
        background-color: #f0f0f0;
        
    }

    .course-info {
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        transition: all 0.3s ease;
    }

        .course-info .course-title,
        .course-info .course-instructor,
        .course-info .course-room {
            flex-grow: 1;
        }

    .slot.over {
        border: 2px dotted #666;
        transition: border 0.3s ease;
    }

    .grabbable {
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

        /* (Optional) Apply a "closed-hand" cursor during drag operation. */
        .grabbable:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
    .ghost {
        opacity: .5;
        background: #C8EBFB;
    }

    .highlight {
        background-color: #f9c7c8 !important;
    }
</style>

@if (Model.Any())
{
    IEnumerable<DepartmentGroupDTO> departmentGroups = ViewBag.DepartmentGroupsByDepartment;
    <div style="page-break-after: always" id="table-wrapper">
        <table class="table table-bordered mb-0">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Время</th>
                    @foreach (var group in departmentGroups)
                    {
                        <th class="text-center" scope="col">@group.Department.Code-@group.Code</th>
                    }
                </tr>
            </thead>
            <tbody  id="slotsTable">
                @foreach (var lessonPeriod in ViewBag.AllLessonPeriods)
                {
                    <tr>
                        <td class="align-middle text-center" style="width: 180px">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    @lessonPeriod.Name
                                </li>
                            </ul>

                        </td>
                        @foreach (var group in departmentGroups)
                        {
                            var slot = Model
                                .FirstOrDefault(groupedSlot => groupedSlot.Key == lessonPeriod.Name)
                                ?.FirstOrDefault(s => $"{s.Group.Department.Code}{s.Group.Code}" == $"{group.Department.Code}{group.Code}");

                            <td
                                id="draggableTable"
                                draggable="@(slot == null)"
                                class="@(slot != null ? "p-0" : "align-middle text-muted") slot h-100"
                                style="max-width: 250px"
                                data-lesson-period-id="@lessonPeriod.Id"
                                data-department-group-id="@group.Id"
                                data-slot-id="@(slot != null ? slot.Id : 0)">

                                @if (slot != null)
                                {
                                    <a class="text-black slot-cell grabbable"
                                       asp-controller="Slots"
                                       asp-action="Edit"
                                       asp-route-Id="@slot.Id"
                                       >
                                        <div class="course-info p-3">
                                            <h5 class="course-title">@slot.AnnouncementSection.Course.NameEng</h5>
                                            <div class="align-self-start">
                                                <p class="font-italic course-instructor mb-0">@(EnumExtentions.GetDisplayName((enu_SlotDayOfWeek)slot.DayOfWeek))</p>
                                                <p class="course-room mb-0">@slot.LessonRoom.RoomName</p>
                                            </div>
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <p class="text-center my-2">Пусто</p>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="border text-center">
        <p class="">No slots found...</p>
    </div>
}
