@using iuca.Application.DTO.Slots;
@using iuca.Application.Enums;
@using iuca.Application.ViewModels.Slots;

@model SlotViewModel

@{
    ViewBag.Title = "Schedule";
}

<style>
    .collapse {
        visibility: visible;
    }

        .collapse.in {
            visibility: hidden;
        }

    .collapsing {
        -webkit-transition-duration: 0.35s;
        transition-duration: 0.35s;
        transition-timing-function: ease;
    }

        .collapsing.width {
            transition-property: width, visibility;
            width: 0;
            height: auto;
        }

    .btn-expand {
        opacity: 0.5;
        transition: all 0.2s ease-in-out;
    }

        .btn-expand:hover {
            opacity: 1.0;
        }

    .btn[aria-expanded=true] .fa-chevron-right {
        display: none;
    }

    .btn[aria-expanded=false] .fa-chevron-left {
        display: none;
    }

    .btn-expand-container {
        animation: ease;
        transition-duration: 0.3s;
    }
    
</style>

<div class="container-fluid">
    <div class="row">
        <div class="px-0">
            <div class="collapse width show" id="collapseForm">
                <div class="flex-column flex-shrink-0 p-3" style="width: 350px;">
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success alert-dismissible show" role="alert">
                            <h4 class="alert-heading">@(TempData["Success"].ToString() == "Delete" ? "Удалено!" : "Обновлено!")</h4>
                            <div>
                                @(TempData["Success"].ToString() == "Delete" ? "Слот успешно удален!" : "Слот успешно обновлен!")
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    @if (TempData["SlotError"] != null)
                    {
                        <div class="alert alert-warning alert-dismissible show" role="alert">
                            <h4 class="alert-heading">Слот занят!</h4>
                            <div>
                                @TempData["SlotError"]
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <div class="mb-md-0 me-md-auto text-decoration-none text-center d-flex justify-content-between">
                        <h3 class="text-uppercase">IUCA Schedule</h3>

                    </div>
                    <div id="formContainer">
                        <form id="slotForm" method="post" asp-controller="Slots" asp-action="FormSubmit">
                            <div class="col-auto p-0">
                                <partial name="_EditPartial.cshtml" model="Model.SingleSlot" />
                            </div>

                            <button type="submit" name="action" value="Create" class="btn btn-primary w-100" id="createButton">
                                <i class="fas fa-plus"></i> &nbsp; Добавить
                            </button>
                            <div class="d-flex justify-content-between">
                                <button type="submit" name="action" class="btn btn-primary flex-fill mr-2" value="Edit" id="updateButton" style="display: none;">
                                    <i class="fas fa-save"></i> &nbsp; Обновить
                                </button>
                                <button type="submit" name="action" class="btn btn-danger" id="deleteButton" value="Delete" style="display: none;">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            <input type="reset" id="resetButton" class="btn btn-sm btn-outline-primary w-100 mt-2" />

                            <div class="text-danger">
                                @TempData["Error"]
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="btn-expand-container d-flex">
            <button class="btn btn-expand" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true" aria-controls="collapseExample" title="Закрыть окно">
                <i class="fas fa-chevron-right pull-right"></i>
                <i class="fas fa-chevron-left pull-right"></i>
            </button>
        </div>

        <div class="col container-fluid">
            <div class="px-0 py-2 sticky-top shadow p-3 mb-3 bg-white rounded" style="z-index:100;">
                <div class="d-flex justify-content-between">
                    <h3 class="text-uppercase mb-0">Таблица расписания</h3>
                    <div class="p-0">
                        <label asp-for="SingleSlot.SemesterId" class="row m-0 mb-1"></label>
                        <select class="row m-0" id="semesterSelect" name="SingleSlot.SemestedId" asp-for="SingleSlot.SemesterId" asp-items="ViewBag.Semesters">
                        </select>
                        <span asp-validation-for="SingleSlot.SemesterId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row d-flex px-3">
                    <div id="dayOfWeekButtons" class="btn-group btn-group-justified mr-3" role="group" aria-label="Days of Week">
                        @foreach (enu_SlotDayOfWeek dayOfWeek in Enum.GetValues(typeof(enu_SlotDayOfWeek)))
                        {
                            <label class="btn btn-outline-primary mb-0 border-1 h-100">
                                <input type="radio" name="options" autocomplete="off" value="@(((int)dayOfWeek))" checked hidden> @dayOfWeek.GetDisplayName()
                            </label>
                        }
                    </div>
                    <a data-toggle="modal" data-target="#printModal" class="btn btn-info text-white">
                        <i class="fas fa-print"></i> &nbsp;
                        Print
                    </a>
                </div>

            </div>

            <ul class="nav nav-tabs nav-fill border-bottom-0" id="myTab" role="tablist">
                @foreach (var department in ViewBag.AllDepartments)
                {
                    <li class="nav-item" role="presentation">
                        <a class="nav-link text-secondary @(department.Code == "BA" ? "active" : "")"
                           id="nav-@(department.Code.ToLower())-tab"
                           data-department-id="@department.Id"
                           asp-route-departmentId="@department.Id"
                           asp-action="Index"
                           data-toggle="tab"
                           data-target="#nav-@(department.Code.ToLower())"
                           type="button" role="tab"
                           aria-controls="nav-@(department.Code.ToLower())"
                           aria-selected="@(department.Code == "BA" ? "true" : "false")">
                            @department.Code
                        </a>
                    </li>
                }
            </ul>

            <div class="" id="tableContainer">
                <partial name="_SlotsTablePartial.cshtml" model="Model.AllSlots" />
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Подтвердите действие</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить этот слот?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <button type="submit" name="action" class="btn btn-danger" value="Delete" id="confirmDeleteButton">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="printModal" tabindex="-1" role="dialog" aria-labelledby="printModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="printModalLabel">Подтвердите действие</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_PrintOptionsPartial.cshtml" model="Model.SlotOptionsViewModel" />
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/js/multi-select-checkboxes.js" asp-append-version="true"></script>
    <script src="~/js/slots-form.js" asp-append-version="true"></script>
    <script src="~/js/day-of-week-btn-group.js" asp-append-version="true"></script>
    <script src="~/js/slot-drag-and-drop.js" asp-append-version="true"></script>
    <script src="~/js/slot-operations.js" asp-append-version="true"></script>
}