@using iuca.Application.Interfaces.Common

@model InstructorEducationInfoDTO

@inject IUniversityService universityService;
@inject IEducationTypeService educationTypeService;

@{
    Layout = null;
}

<div class="row mb-3">
    <div class="col-12">
        <hr>
    </div>
    <input type="hidden" name="[@ViewData["Index"]].Id" value="@Model.Id" />
    <input type="hidden" name="[@ViewData["Index"]].InstructorBasicInfoId" value="@Model.InstructorBasicInfoId" />

    <div class="col-lg-6 col-12">
        <hr class="m-2 mb-3">
        <div class="form-group row">
            <div class="col-lg-3 col-12 text-lg-right text-left">
                <label asp-for="MajorEng" class="form-label"></label>
            </div>
            <div class="col-lg-9 col-12">
                <input name="[@ViewData["Index"]].MajorEng" value="@Model.MajorEng" class="form-control" />
                <span asp-validation-for="MajorEng" class="text-danger"></span>
            </div>
        </div>
        <hr class="m-2 mb-3">
        <div class="form-group row">
            <div class="col-lg-3 col-12 text-lg-right text-left">
                <label asp-for="MajorRus" class="form-label"></label>
            </div>
            <div class="col-lg-9 col-12">
                <input name="[@ViewData["Index"]].MajorRus" value="@Model.MajorRus" class="form-control" />
                <span asp-validation-for="MajorRus" class="text-danger"></span>
            </div>
        </div>
        <hr class="m-2 mb-3">
        <div class="form-group row">
            <div class="col-lg-3 col-12 text-lg-right text-left">
                <label asp-for="MajorKir" class="form-label"></label>
            </div>
            <div class="col-lg-9 col-12">
                <input name="[@ViewData["Index"]].MajorKir" value="@Model.MajorKir" class="form-control" />
                <span asp-validation-for="MajorKir" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <hr class="m-2 mb-3">
        <div class="form-group row">
            <div class="col-lg-3 col-12 text-lg-right text-left">
                <label asp-for="GraduateYear" class="form-label"></label>
            </div>
            <div class="col-lg-9 col-12">
                <input name="[@ViewData["Index"]].GraduateYear" value="@Model.GraduateYear" class="form-control" />
                <span asp-validation-for="GraduateYear" class="text-danger"></span>
            </div>
        </div>
        <hr class="m-2 mb-3">
        <div class="form-group row">
            <div class="col-lg-3 col-12 text-lg-right text-left">
                <label asp-for="UniversityId" class="form-label"></label>
            </div>
            <div class="col-lg-9 col-12">
                <select class="form-control dropdown" name="[@ViewData["Index"]].UniversityId"
                        asp-items="@(new SelectList(universityService.GetUniversities(), "Id", "NameEng", Model.UniversityId))">
                    <option></option>
                </select>
                <span asp-validation-for="UniversityId" class="text-danger"></span>
            </div>
        </div>
        <hr class="m-2 mb-3">
        <div class="form-group row">
            <div class="col-lg-3 col-12 text-lg-right text-left">
                <label asp-for="EducationTypeId" class="form-label"></label>
            </div>
            <div class="col-lg-9 col-12">
                <select class="form-control dropdown" name="[@ViewData["Index"]].EducationTypeId"
                        asp-items="@(new SelectList(educationTypeService.GetEducationTypes(), "Id", "NameEng", Model.EducationTypeId))">
                    <option></option>
                </select>
                <span asp-validation-for="EducationTypeId" class="text-danger"></span>
            </div>
        </div>
        
    </div>
    <div class="col-12 text-right">
        <div class="form-group row">
            <div class="col-6"></div>
            <div class="col-6">
                <button type="button" class="btn btn-danger" id="removeEducationBtn" title="Remove">
                    <i class="fas fa-times"></i> &nbsp; Remove education info
                </button>
            </div>
        </div>
    </div>
</div>
