@model IEnumerable<CountryDTO>

@{
    int num = 0;
}

<div class="container p3">
    <div class="row pt-4">
        <div class="col-12 p-0">
            <h3 class="text-uppercase">Countries</h3>
        </div>
    </div>
    <div class="row pt-4 text-right">
        <div class="col-12 p-0">
            <a asp-controller="Countries" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Add Country
            </a>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12 p-0">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>
                                Name Eng
                            </th>
                            <th>
                                Name Rus
                            </th>
                            <th>
                                Name Kir
                            </th>
                            <th>Code</th>
                            <th>Import Code</th>
                            <th>Sort num</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var country in Model)
                        {
                            num++;
                        <tr>
                            <td>@num</td>
                            <td>@country.NameEng</td>
                            <td>@country.NameRus</td>
                            <td>@country.NameKir</td>
                            <td>@country.Code</td>
                            <td>@country.ImportCode</td>
                            <td>@country.SortNum</td>
                            <td width="15%" class="text-center p-2">
                                <div class="btn-group" role="group">
                                    <a asp-controller="Countries" asp-route-id="@country.Id"
                                       asp-action="Details" class="btn btn-primary mx-1" title="Details">
                                        <i class="fas fa-file-alt"></i>
                                    </a>
                                    <a asp-controller="Countries" asp-route-Id="@country.Id" asp-action="Edit" class="btn btn-primary mx-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-controller="Countries" asp-route-Id="@country.Id" asp-action="Delete" class="btn btn-danger mx-1">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
    }
                    </tbody>
                </table>
            }
            else
            {
                <p>No country exists</p>
            }
        </div>
    </div>
</div>
