@model IEnumerable<DepartmentGroupDTO>

@{
    int num = 0;
}

<div class="container p3">
    <div class="row pt-4">
        <div class="col-12 p-0">
            <h3 class="text-uppercase">Department groups</h3>
        </div>
    </div>
    <div class="row pt-4 text-right">
        <div class="col-lg-6 col-12">
            <form method="post" asp-action="GenerateDepartmentGroupsForYear">
                <div class="form-group row text-left">
                    <div class="col-12 mb-2">
                        <b>Generate department groups for selected year:</b>
                    </div>
                    <div class="col-2">
                        <label>Year:</label>
                    </div>
                    <div class="col-6">
                        <input name="year" type="number" class="form-control" value="@DateTime.Now.Year" />
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Generate</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-12 p-0">
            <a asp-controller="DepartmentGroups" asp-action="Create" class="btn btn-primary">
                <i class="fas fa-plus"></i> &nbsp; Add single department group
            </a>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-12 p-0">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>
                                Department
                            </th>
                            <th>
                                Department Code
                            </th>
                            <th>
                                Year
                            </th>
                            <th>
                                Code
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var departmentGroup in Model)
                        {
                            num++;
                        <tr>
                            <td>@num</td>
                            <td>@departmentGroup.Department.NameRus</td>
                            <td>@departmentGroup.Department.Code</td>
                            <td>@departmentGroup.Year</td>
                            <td>@departmentGroup.Code</td>
                            <td width="15%" class="text-center p-2">
                                <div class="btn-group" role="group">
                                    <a asp-controller="DepartmentGroups" asp-route-id="@departmentGroup.Id"
                                       asp-action="Details" class="btn btn-primary mx-1" title="Details">
                                        <i class="fas fa-file-alt"></i>
                                    </a>
                                    <a asp-controller="DepartmentGroups" asp-route-Id="@departmentGroup.Id" asp-action="Edit" class="btn btn-primary mx-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-controller="DepartmentGroups" asp-route-Id="@departmentGroup.Id" asp-action="Delete" class="btn btn-danger mx-1">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No department group exists</p>
            }
        </div>
    </div>
</div>
