@model List<CourseDTO>

@{ 
    Layout = null;
    int num = 0;
}
<div class="modal fade" id="selectCourses">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Выберите курсы</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">
                <h6 class="modal-title">@ViewBag.CycleName</h6>
                <h6 class="modal-title">@ViewBag.PartName</h6>
                <hr>
                <div style="max-height: 500px; overflow: auto;">
                    <table class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Наменование курса</th>
                                <th>Аббревиатура</th>
                                <th>Выбрать</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Model)
                            {
                                <tr>
                                    <td>@(++num)</td>
                                    <td>@(course.NameRus + " / " + course.NameEng)</td>
                                    <td>@course.Abbreviation</td>
                                    <td class="text-center">
                                        <input type="hidden" name="CourseId" value="@course.Id" />
                                        <input class="big-checkbox" type="checkbox" name="SelectCourse" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
            </div>

            <div class="modal-footer">
                <input type="hidden" name="cyclePartIndex" value="@ViewBag.CyclePartIndex" />
                <input type="hidden" name="cycleId" value="@ViewBag.CycleId" />
                <input type="hidden" name="part" value="@ViewBag.Part" />
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="AddCourses">Добавить</button>
            </div>
        </div>
    </div>
</div>