@model IGrouping<AnnouncementSectionDTO, AttendanceDTO>
@using iuca.Application.Enums

@{
    int num = 0;
}

<div class="row pt-4">
    <div class="col-12">
        <strong>Name:</strong> @Model.Key.Course.NameEng
    </div>
    <div class="col-12">
        <strong>ID:</strong> @Model.Key.Course.ImportCode
    </div>
    <div class="col-12">
        <strong>Section number:</strong> @Model.Key.Section
    </div>
    <div class="col-12">
        <strong>Semester:</strong> @Model.Key.Announcement.Semester.SeasonYear
    </div>
    <div class="col-12">
        <strong>Instructor:</strong> @Model.Key.InstructorUserName
    </div>
</div>

<div class="row pt-2">
    <div class="col-12">

        <table class="table table-bordered table-striped table-responsive">
            <thead class="thead-light bg-gray">
                <tr>
                    <th scope="col">#</th>
                    <th>ID</th>
                    <th>Имя студента</th>
                    <th>Группа</th>
                    @if (Model.Any())
                    {
                        var firstAttendance = Model.First();
                        if (firstAttendance.AttendanceClasses != null && firstAttendance.AttendanceClasses.Any())
                        {
                            var uniqueDates = firstAttendance.AttendanceClasses.Select(ac => ac.Date.Date).Distinct();
                            foreach (var uniqueDate in uniqueDates)
                            {
                                <th>@uniqueDate.ToString("dd.MM")</th>
                            }
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var attendance in Model)
                {
                    <tr>
                        <th scope="row" class="col-auto">@(++num)</th>
                        <td class="col-auto">@attendance.Student.StudentId</td>
                        <td class="col-auto text-nowrap">@attendance.Student.ShortNameEng</td>
                        <td class="col-auto">@attendance.Student.Group</td>
                        @if (attendance.AttendanceClasses != null && attendance.AttendanceClasses.Any())
                        {
                            var attendanceByDate = attendance.AttendanceClasses.GroupBy(x => x.Date.Date);
                            foreach (var uniqueDateGroup in attendanceByDate)
                            {
                                <td class="col-auto">
                                    @foreach (var mark in uniqueDateGroup)
                                    {
                                        var markColor = "text-secondary";

                                        if (mark.Mark == (int)enu_AttendanceMark.late || mark.Mark == (int)enu_AttendanceMark.exc || mark.Mark == (int)enu_AttendanceMark.sick)
                                            markColor = "text-primary";

                                        if (mark.Mark == (int)enu_AttendanceMark.abs)
                                            markColor = "text-warning";

                                        if (mark.Mark == (int)enu_AttendanceMark.na || mark.Mark == (int)enu_AttendanceMark.undefined)
                                            markColor = "text-danger";


                                        <span class="@markColor">@((enu_AttendanceMark)mark.Mark)<br /></span>
                                    }
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
