@model PolicyDTO

<div class="row">

    <div class="col-12">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="form-group row">
                    <div class="col-12">
                        <label class="label-info">Name (En)</label>
                    </div>
                    <div class="col-12">
                        <label>@Model.NameEng</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="form-group row">
                    <div class="col-12">
                        <label class="label-info">Description (En)</label>
                    </div>
                    <div class="col-12">
                        <label>@Model.DescriptionEng</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="form-group row">
                    <div class="col-12">
                        <label class="label-info">Name (Ru)</label>
                    </div>
                    <div class="col-12">
                        <label>@Model.NameRus</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="form-group row pt-2">
                    <div class="col-12">
                        <label class="label-info">Description (Ru)</label>
                    </div>
                    <div class="col-12">
                        <label>@Model.DescriptionRus</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="form-group row">
                    <div class="col-12">
                        <label class="label-info">Name (Kg)</label>
                    </div>
                    <div class="col-12">
                        <label>@Model.NameKir</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-12">
                <div class="form-group row pt-2">
                    <div class="col-12">
                        <label class="label-info">Description (Kg)</label>
                    </div>
                    <div class="col-12">
                        <label>@Model.DescriptionKir</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
