@model List<ApplicationUser>

@{
    int num = 0;
}

<div class="container p3">
    <div class="row pt-4">
        <div class="col-12 p-0">
            <h3 class="text-uppercase">User Roles</h3>
        </div>
    </div>
    <div class="text-danger">
        @TempData["Error"]
    </div>
    <div class="row pt-2">
        <div class="col-12 p-0">
            @if (Model.Count > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Full Name Eng</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userInfo in Model)
                        {
                            num++;
                            <tr>
                                <td>@num</td>
                                <td>@userInfo.FullNameEng</td>
                                <td>@userInfo.Email</td>
                                <td class="text-center p-2 align-middle">
                                    <div class="btn-group" role="group">
                                        <a asp-controller="UserRoles" asp-route-Id="@userInfo.Id" asp-action="ManageRoles" 
                                        class="btn btn-primary mx-1" style="white-space: nowrap;" title="Manage Roles">
                                            <i class="fas fa-users"></i><span>&nbsp;Roles</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No user exists</p>
            }
        </div>
    </div>
</div>


